.app-header {
    width: 100%;
    height: auto;
    border-style: solid none solid none;
    background-color: #97bddb;
}

.card-container {
    display: flex;
    flex: 1 1 1px;
    flex-wrap: wrap;
    gap: 1%;
}

.card {
    display: inline;
    max-width: 40%;
    padding: 1rem;
    margin: 1rem auto 1rem auto;
    border-width: 0.1em;
    border-style: solid;
    border-radius: 30px;
}

.stats-container {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-bottom: 1rem;
}

.stats-header {
    font-weight: bold;
    vertical-align: middle;
    margin: auto 0 auto 0;
}

.stats-value {
    border-style: solid;
    border-color: lightgray;
    border-width: 0.1em;
    overflow-wrap: break-word;
    vertical-align: middle;
    margin: auto 0 auto 0;
}

.card img {
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 30px;
    width: 60%;
}

.card button {
    width: 30%;
    height: 2rem;
    border-radius: 30px;
}

.filter-button {
    width: 80%;
    min-height: 10vh;
    margin: 1vh auto 1vh auto;
    border-radius: 15px;
}

.modal-form {
    width: 60%;
    text-align: center;
    background-color: white;
    margin: 4vh auto auto auto;
    padding: 1rem;
    border-style: solid;
    border-radius: 10px;
}

.form-label {
    display: block;
}

.form-buttons {
    display: block;
    margin-top: 2rem;
}

.form-buttons button {
    height: 5vh;
    margin: 1vw;
    width: 20%;
}

.form-power-selection {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
}

.form-check-label {
    text-align: left;
}

.form-other-controls {
    margin: 2vh auto 2vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1vh;
    column-gap: 1vw;
}

.form-other-controls select {
    width: 60%;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}