@media (max-width: 800px) {
    .card-container {
        flex-direction: column;
    }
    
    .card {
        max-width: 80%;
        margin: 1rem auto 1 rem auto;
    }

    .modal-form {
        width: 80%;
    }

    .form-other-controls{
        display:block;
    }

    .form-other-controls * {
        margin-bottom: 1vh;
    }
}

@media (pointer: coarse) {
    .filter-button {
        width: 80%;
        min-height: 10vh;
        margin: 1vh auto 1vh auto;
        border-radius: 15px;
    }
}